.text-bold {
    font-weight: 600;
}



@media (min-width: 992px) {
    .wave-img {
        position: relative;
        z-index: 2;
        right: 12%;
        top: 100px;
    }
}

/* @media (max-width: 992px){ 
    .wave-img , .wave-img img {
        width: 70%;
        position: relative;
        top: 80px;
    }

} */

@media (max-width: 992px) {
    .wave-img , .wave-img img {
       position: absolute;
        visibility: hidden;
    }
}